<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.ghazal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpensesActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".ListActivity" />
        <activity android:name=".NewExpenseActivity" />
        <activity android:name=".AlertDialogActivity" />
        <activity android:name=".Camera" />
        <activity android:name=".FireActivity" />
        <activity android:name=".SharedActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EditItem" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>